<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Alta Empleados</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="" id="" class="form-control" #nombre>
            </div>
            <br>
            <div class="form-group">
                <label for="">Cargo</label>
                <input type="text" name="" id="" class="form-control" #cargo>
            </div>
            <br>
            <div class="form-group">
                <label for="">Salario</label>
                <input type="text" name="" id="" class="form-control" #salario>
            </div>
            <br>
            
            <br>
            <div class="form-group">
                <button class="btn btn-success " routerLink="/Empleados" (click)="guardarEmpleado()" >Guardar</button>
            </div>
        </div>
    </div>
</div>